.contact1:hover{
    background-color: #273053;
    color: white;
}
.contact2:hover{
    background-color: #273053;
    color: white;
}
.contact3:hover{
    background-color: #273053;
    color: white;
}