.active{
    /* background-color: #13699b; */
    background-color: black;
}
.navb{
   background-color: #080a0a;
}
@media screen and (min-width: 992px) {
   .collapsingIcons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   }
}